@page
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery xsrf
@model PurchaseForMe.Pages.BlockEditorModel
@{
    Layout = "Shared/_BlockEditorLayout";
    ViewData["NodeName"] = Model.NodeName;
}
@section Styles {
    <link rel="stylesheet" href="~/css/xterm.css" />
    <style>
        body {
            margin: 0;
            overflow-x: hidden;
        }
        .container-fluid {
            padding: 0;
        }

        #webModelEditor {
            height: 480px;
            width: 100%;
        }

        #blockly-editor {
            width: 100%;
            height: 960px;
        }

        #xmlEditor {
            display: none;
        }
    </style>
}

<div class="row">
    <div id="blockly-editor" class="col"></div>
    <div id="xmlEditor" class="col"></div>
</div>
<div class="console-container">
    <div id="console"></div>
</div>

@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return xsrf.GetAndStoreTokens(HttpContext).RequestToken;
    }
}

@section Scripts {
    <script src="https://pagecdn.io/lib/ace/1.4.12/ace.min.js"></script>
    <script src="~/js/blockly.bundle.min.js"></script>
}

@Html.Raw(Model.ToolkitXml)
@Html.HiddenFor(m => m.ProjectGuid)
@Html.HiddenFor(m => m.NodeGuid)
@Html.HiddenFor(m => m.WorkspaceXml)
@Html.HiddenFor(m => m.RunnerToConnect)
@Html.HiddenFor(m => m.UserId)